/SerenityApi.net.sln.bak
*.user
.vs
.git
/src/Adapters/bin
/src/Adapters/obj
/*.bak
/src/DataProviders/bin
/src/DataProviders/obj
/src/Domain/bin
/src/Domain/obj
/src/UseCases/bin
/src/UseCases/obj
/src/Tools/bin
/src/Tools/obj
/src/SerenityApi/bin
/src/SerenityApi/obj
/src/UseCasesTests/bin
/src/UseCasesTests/obj
